@model SectorViewModel;

<div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content" id="editDebtModelBody">
        <div style="overflow:auto;" class="modal-body">
            <form class="user" asp-action="SaveSector" asp-controller="Sector" asp-antiforgery="true">
                <input hidden asp-for="@Model.Sector.Id" />

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="name" class="mr-sm-2">Sektor adı:</label>
                        <input asp-for="@Model.Sector.Name" class="form-control mb-2 mr-sm-2" required />
                        <span asp-validation-for="@Model.Sector.Name" class="text-danger"></span>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary bgupdate">Yadda saxla</button>
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />