@model PasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}

<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-2 title-forgot">Parolu unutmusunuz?</h1>
                        <p class="mb-4 text-forgot">Narahat olmayın, bu hamıda baş verir. Biz sizə <br> 
                            parolunuzu sıfırlamaq üçün təsdiq kodu <br>
                            göndərəcəyik.Kodu açılan pəncərəyə qeyd edin!</p>
                    </div>
                    <form class="user" asp-action="ForgotPassword" asp-controller="Authentication" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user"
                                   id="exampleInputEmail" aria-describedby="emailHelp"
                                   placeholder="Email ünvanını daxil edin..." asp-for="@Model.Email">
                        </div>
                        <button type="submit" href="passwd-authentication.html" class="btn btn-primary btn-user btn-block">
                            Parolu sıfırla
                        </button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

