@model CategoryViewModel
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_CommonLayout2.cshtml";
}


@section navbar_bottom{
    <section id="navbottom">

        <div class="container-lg">
            <nav class="navbar-down justify-content-between align-items-center">
                <a class="btn btn-menu red" href="#">
                    E-Kitablar
                </a>

                <div class="input-area ">
                    <input type="text" class="input-nav" placeholder="Kitab Axtar">
                    <button class="fas fa-search"></button>

                </div>
            </nav>
        </div>
    </section>
}


    <section id="category" class="my-5">
        <div class="container-lg">
            <div class="category-div">
                <div class="category-title"><button class="p-2">Katiqoriyalar</button></div>
                <div class="category d-flex p-2 justify-content-between">
                    <div class="category-row">
                        <ul class="list">

                        @foreach (Category item in Model.CategoryList.Data)
                        {
                            <li>
                                <a href="#" class="category-link">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
