@using Library.WebUI.ViewModels
@model AccountViewModel
@{
    Layout = "_PrivateOfficeLayout";
}

    <section id="account" class="py-2 d-flex">
        <div class="container-lg">
            <h1 class="text-gray-900 h4">Şəxsi Kabinet</h1>


            <div class="row py-2 px-lg-4 flex-lg-nowrap">
                <div class="col-sm-12 col-lg-4">
                    <div class="img-user w-100 text-center">
                        <img src="~/images/user.png">
                    </div>
                </div>

                <form asp-action="UpdateDetails" asp-controller="PrivateOffice">
                    <div class="col-sm-12 col-lg-8">

                    <input hidden asp-for="Account.Id"/>
                    <input hidden asp-for="Account.User.Id"/>

                    <div class="input-group py-2">
                        <span class="input-group-text text-bold">Ad</span>
                        <input type="text" aria-label="FirstName" class="form-control" asp-for="Account.User.FirstName">
                    </div>

                    <div class="input-group py-2">
                        <span class="input-group-text text-bold">Soyad</span>
                        <input type="text" aria-label="LastName" class="form-control" asp-for="Account.User.LastName">
                    </div>

                    <div class="input-group py-2">
                        <span class="input-group-text text-bold">Ata adı</span>
                        <input type="text" aria-label="FatherName" class="form-control" asp-for="Account.User.FatherName">
                    </div>

                    <div class="input-group py-2">
                        <span class="input-group-text text-bold">Hesab adı</span>
                        <input type="text" readonly aria-label="AccountName" class="form-control" asp-for="Account.AccountName">
                    </div>

                    <div class="input-group py-2">
                        <span class="input-group-text text-bold">Email</span>
                        <input type="email" aria-label="AccountName" class="form-control" asp-for="Account.Email">
                    </div>

                    @if(@Model.Student!=null)
                       {
                           <input hidden asp-for="Student.Id"/>
                           <input hidden asp-for="Student.Specialty.Id"/>
                           <input hidden asp-for="Student.Group.Id"/>
                           <input hidden asp-for="Student.Group.Sector.Id"/>

                           <div class="input-group py-2">
                                <span class="input-group-text text-bold">İxtisas</span>
                                <input type="text" readonly aria-label="SpecialtyName" class="form-control" asp-for="Student.Specialty.Name">
                                @*@Html.DropDownListFor(s=> s.SelectedSpecialty.Id, Model.SpecialtySelectList,new {@class="custom-select form-control"})*@
                            </div>

                           <div class="input-group py-2">
                                <span class="input-group-text text-bold">Fakültə</span>
                                <input type="text" readonly aria-label="FacultyName" class="form-control" asp-for="Student.Specialty.Faculty.Name">
                           
                            </div>

                           <div class="input-group py-2">
                                <span class="input-group-text text-bold">Sektor</span>
                                <input type="text" readonly aria-label="SectorName" class="form-control" asp-for="Student.Group.Sector.Name">
                           </div>
                           
                           <div class="input-group py-2">
                                <span class="input-group-text text-bold">Qrup</span>
                                <input type="text" readonly aria-label="GroupName" class="form-control" asp-for="Student.Group.Name">
                           </div>
                       }

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group py-2">
                                <span class="input-group-text text-bold">Doğum tarixi</span>
                                <input type="date" aria-label="BirthDate" class="form-control" asp-for="Account.User.BirthDate">
                            </div>
                        </div>


                        <div class="col-6 col-lg-3">
                            <div class="form-check">
                                @Html.RadioButtonFor(m => m.SelectedGender,false)
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Kişi
                                </label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(m => m.SelectedGender,true)
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Qadın
                                </label>
                            </div>
                        </div>

                        <div class="col-6 col-lg-3">
                            <button type="submit" class="btn btn-primary m-2">Yadda saxla </button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </section>