@model FileViewModel
@{
    ViewData["Title"]= "DIA";
    Layout = "~/Views/Shared/_CategoryLayout.cshtml";
}


<section id="book" class="py-3">
    <hr/>
    <div class="container-lg">
        <div class="row">
            @{
                var result = Model.Files.Data;

                @for (int k = 0; k < result.Count; k++)
                {
                    <div class="col-lg-3 col-md-6 col-sm-12 py-3">
                        <a asp-action="GetById" asp-controller="File" asp-route-id="@result[k].Id" class="book">
                            <img src="@Url.Action("Picture","Category",result[k].PhotoPath)" width="200px">
                            <span class="book-comment">@result[k].Name</span>
                        </a>
                    </div>
                }
            }

        </div>
    </div>
</section>