@using System.Text
@model CategoryFileViewModel
@{
    ViewData["Title"] = "SearchByName";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section navbar_bottom{
    <section id="navbottom">

        <div class="container-lg">
            <nav class="navbar-down">
                <a class="btn btn-menu red" asp-action="Index" asp-controller="Home">
                    Ana səhifə
                </a>
                <a class="btn btn-menu " asp-controller="File" asp-action="ShowAllFiles">
                    Bütün kitablar
                </a>
            </nav>
        </div>
    </section>
}

<body>
<section id="bookResult" class="my-5 px-lg-3">
    <div class="container-fluid">
        <div class="container-lg">
            <div class="book-result d-flex flex-column">
                @foreach (var fileAuthor in Model.FileModel.FileAuthors.Data)
                {
                    <div class="book-div py-4">
                        <a asp-controller="File" asp-action="ShowFileInfoForAllFiles" asp-route-guid="@fileAuthor.File.GUID">
                            <img src="@Url.Action("Picture","Resources", new{ name = fileAuthor.File.PhotoPath})" class="result-img">
                        </a>
                        <div class="book-info d-flex flex-column px-4 ">
                            <h6 class="h6"><span class="text-bold">Kitab Adı: </span>@fileAuthor.File.Name</h6>
                                <h6 class="h6"><span class="text-bold">Müəllif: </span>
                                    
                                    @{
                                        string authornames = null;
                                        foreach (var author in fileAuthor.Authors)
                                        {
                                            var builder = new StringBuilder();
                                            builder.Append(author.FirstName);
                                            builder.Append(" ");
                                            builder.Append(author.LastName);
                                            builder.Append(", ");
                                            authornames = builder.ToString().Trim().Trim(',');

                                        }
                                    }
                                    @authornames
                            </h6>
                            <h6 class="h6"><span class="text-bold">Səhife: </span>@fileAuthor.File.PageNumber</h6>
                        </div>
                    </div>
                    <hr>
                }
            </div>
        </div>
    </div>
</section>
</body>

