@model ExternalSourceViewModel
@{
    Layout = "_Layout";
}
<div class="container">
    <form asp-action="SaveSource" asp-controller="ExternalSource" asp-antiforgery="true" enctype="multipart/form-data">
        <input type="number" asp-for="Source.Id" hidden/>
        <div class="form-group">
            <label for="name">Mənbə adı</label>
            <input type="text" class="form-control" id="name"  placeholder="Dövlət İdarəçilik Akademiyası" asp-for="Source.Name">
        </div>
        <div class="form-group">
            <label for="link">Link</label>
            <input type="text" class="form-control" id="link" placeholder="www.dia.edu.az" asp-for="Source.SourceLink">
        </div>
        <div class="form-group">
            <label for="photo">Şəkil əlavə etmək</label>
            <input type="file" class="form-control" id="photo" asp-for="Photo"> <br />

        </div>
        <div class="from-group d-flex justify-content-center">
            <button type="submit" class="btn btn-primary px-4">Submit</button>
        </div>
        
        <hr/>
        
    </form>
    
    <div style="margin-bottom: 300px"></div>
</div>

