@model AuthViewModel 
<div class="container">
    <form asp-controller="Authentication" asp-antiforgery="true" asp-action="ResetPassword" class="form-group">
        <input hidden asp-for="Account.Id" />
        <input hidden asp-for="Account.User.Id" />

        <div class="form-group">
            <label for="userFirstName" class="mr-sm-2">Adı:</label>
            <input asp-for="Account.User.FirstName" class="form-control mb-2 mr-sm-2" readonly />
            <span asp-validation-for="Account.User.FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="userLastName" class="mr-sm-2">Soyadı:</label>
            <input asp-for="Account.User.LastName" class="form-control mb-2 mr-sm-2" readonly />
            <span asp-validation-for="Account.User.LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="userFatherName" class="mr-sm-2">Ata adı:</label>
            <input asp-for="Account.User.FatherName" class="form-control mb-2 mr-sm-2" readonly />
            <span asp-validation-for="Account.User.FatherName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Account.User.BirthDate" class="form-control mb-2 mr-sm-2" readonly hidden/>
            <span asp-validation-for="Account.User.BirthDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="col-sm-6 d-flex">
                <div class="mr-sm-3 mr-4">
                    @Html.RadioButtonFor(model => model.Account.User.Gender, false,new{@hidden="true"})
                    
                </div>

                <div>
                    @Html.RadioButtonFor(model => model.Account.User.Gender, true,new{@hidden="true"})
                   
                </div>

            </div>
        </div>

        <div class="form-group">
            <label for="name" class="mr-sm-2">Hesab adı:</label>
            <input asp-for="Account.AccountName" class="form-control mb-2 mr-sm-2" readonly />
            <span asp-validation-for="Account.AccountName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Account.Email" class="form-control mb-2 mr-sm-2" hidden readonly />
            <span asp-validation-for="Account.Email" class="text-danger"></span>
        </div>
        
        <div class="form-group row">
            <input type="text" asp-for="Password" required/>
        </div>

        <button type="submit" class="btn btn-primary bgupdate">Yadda saxla</button>
        
    </form>
</div>
