@{
    Layout = "_MainLayout";
}

<section id="navbottom">

    <div class="container-lg">
        <nav class="navbar-down">
            <a class="btn btn-menu red" asp-action="Index" asp-controller="Home">
                Ana səhifə
            </a>

            <div class="dropdown">
                <a class="btn btn-menu dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Bizim kitabxana
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="moreinfo.html">Ümumi məlumat</a></li>
                    <li><a class="dropdown-item" href="otherlib.html">Digər kitabxanalar</a></li>
                    <li><a class="dropdown-item" href="news.html">Yeniliklər</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="btn btn-menu dropdown-toggle" role="button" id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-expanded="false" asp-action="GetAll" asp-controller="Category">
                    E-Kitabxana
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="category.html">E-Kataloq</a></li>
                    <li><a class="dropdown-item" asp-action="GetAll" asp-controller="Category">E-Kitablar</a></li>
                    <li class="sub"><a class="dropdown-item" href="#">E-Resurslar ></a></li>

                    <ul class="submenu">
                        <li><a class="dropdown-item" href="#">Kitablar</a></li>
                        <li><a class="dropdown-item" href="#">Məqalələr</a></li>
                        <li><a class="dropdown-item" href="#">Avtoreferatlar</a></li>
                        <li><a class="dropdown-item" href="#">Jurnallar</a></li>
                        <li><a class="dropdown-item" href="#">Dərsliklər</a></li>
                    </ul>
                </ul>


            </div>

            <a class="btn btn-menu modal-btn" href="#">
                Giriş
            </a>

        </nav>
    </div>
</section>



