@model AccountRoleViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">İmtiyazlar</h1>
<br>

<div class="card shadow mb-4 w-100">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>İmtiyaz adı</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Roles)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td class="text-center"><a class="btn btn-primary bgupdate px-sm-4" data-toggle="modal" onclick="ShowSaveModal(this)" data-action="ShowRoleDescription" data-controller="AccountRole" data-id="@item.Id" id="btnUpdate">Info</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Modals{
    <div class="modal fade" id="createModal">
    </div>

}

@section Scripts{

    <script src="@Href("~/js/section.js")"></script>
}