@model AccountViewModel
<div class="modal-dialog  modal-lg">
    <div class="modal-content" id="editDebtModelBody">
        <div style="overflow:auto;" class="modal-body">
            <form asp-controller="Account" asp-action="UpdateAccount" class="form-group" >
                <input hidden asp-for="AccountDto.Id" />
                <input hidden asp-for="AccountDto.PasswordHash" />
                <div class="form-group">
                    <label for="name" class="mr-sm-2">İstifadəçi:</label>
                    @Html.DropDownListFor(s=> s.AccountDto.UserId, Model.AccountList,new {@class="custom-select form-control"})
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Hesab adı:</label>
                    <input asp-for="AccountDto.AccountName" class="form-control mb-2 mr-sm-2" />
                    <span asp-validation-for="AccountDto.AccountName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="address" class="mr-sm-2">Email adresi:</label>
                    <input asp-for="AccountDto.Email" class="form-control mb-2 mr-sm-2" />
                    <span asp-validation-for="AccountDto.Email" class="text-danger"></span>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary bgupdate">Yadda saxla</button>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />